---
import Category from "@components/Category.astro";
import { getCategories } from "@scripts/getCategories";
const data = await getCategories();
---

<section class="flex gap-3 justify-evenly flex-wrap px-8 min-[1812px]:px-72">
  {data.map((category) => <Category category={category} />)}
</section>
