---
import { getCategoryIcon } from "@scripts/getCategoryIcon";

const { category } = Astro.props;
const { title, path } = category;

const icon = getCategoryIcon(title);

const CATEGORIESICONS = [
  {
    titleCat: title,
    icon: icon,
    name: path,
  },
];
---

<a href={'/pages/recipe'} class="rounded-2xl bg-white hover:scale-105 shadow-xl">
  <article class="p-4 w-36 grid content-between h-full">
    {
      CATEGORIESICONS.map((presentation) => (
        <>
          <h2>{presentation.titleCat}</h2>
          <img src={presentation.icon} alt={presentation.titleCat} />
        </>
      ))
    }
  </article>
</a>
